body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,40,1) 35%, rgba(8,47,55,1) 100%);
}
.content-forms{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10;
}